

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @product.picture %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>User:</strong>
  <%= @product.user %>
</p>



<%if current_user%>
<%if @product.user_id != current_user.id %>
<form action="/products/<%= @product.id %>/comments" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="content">Comment:</label>
  <input type="text" name="comment[content]" id="content">
  <input type="submit" value="Submit">
</form>

<div class="card mb-3">
    <div class="card-header">
        <h4>Comments:</h4>
    </div>
    <%# NOTE COMMENT STEP 3: Wrap the comments in `<div id="comments">` so that you can select the wrapper when using javascript in `app/views/comments/create.js.erb`. %>
    <div id="comments" class="card-body">
        <%= render @product.comments %>
        <%= render "comments/form", product: @product %>
    </div>
</div>
<%else%>

<h1>You cannot Add Comment</h1>

<%end%>

<%end%>





<br>
<br>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
